<div class="filtres__cont">

    <div class="filtres__contsl">
        <a href="/active"><p>ACTIVE</p></a>
    </div>
    
    <a href="/upcoming"><p>UPCOMING</p></a>
    
    <div class="filtres__contsl">
        <a href="/ended"><p>ENDED</p></a>
    </div>
    
</div>

<div class="radiobtn__cont">

    <form action="GET">
        <input type="checkbox"><p>Technical</p>
        <input type="checkbox"><p>Community</p>
    </form>
    
    <div class="radiobtn__filters">
        <a href="/newest"><p>Newest</p></a>
        <a href="/raiting"><p>Raiting</p></a>
        <a href="/complexity"><p>Complexity</p></a>
    </div>
</div>